.titre-page {
    font-family: "Meatloaf";
    font-size: 120px;
    color: $colorWhite;
}

.titre-page-construction {
    font-family: "Meatloaf";
    font-size: 90px;
    color: $colorWhite;
}

h1,
h2,
h3,
p,
a {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1, h2, h3 {
    letter-spacing: 0.1em;
    font-family: 'Bebas Neue';
}

p {
    letter-spacing: 0.1em;
    font-size: 18px;
}