.header {
    // @extend %filtre;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 10px 0 0 0;
    width: 100%;
    height: 450px;
    background: linear-gradient(rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)), url(/src/images/fond-header.jpg);
    background-position: right top;
    background-size: cover;

    &__flex {
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__navigation {
        position: absolute;
        top: 0px;
        right: 0px;

        &--burger {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0px;
            right: 0px;
            @include size(60px);
            background-color: $colorWhite;
            border-radius: 50%;

            &--triangle {
                position: absolute;
                bottom: -15px;
                left: -5px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 27px 35px 0 0;
                border-color: $colorWhite transparent transparent transparent;
                transform: rotate(30deg);
            }

            &--branche {
                @include size(30px, 5px);
                background-color: $colorFinalTurquoise;
                margin: 5px 0;
                border-radius: 2px;
            }
        }

        &--deploiement {
            width: 1000px;
            background-color: rgba(0, 0, 0, 0.5);
            // right: 90px;

            &---menu {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                width: 910px;
                height: 90px;
                font-family: 'Bebas Neue';
                color: $colorWhite;
                font-size: 20px;

                &----participer {
                    display: none;
                    position: absolute;
                    top: 90px;
                    background-color: rgba(0, 0, 0, 0.5);
                    padding: 10px;

                    &-----participation-ouvert {
                        display: block;
                        height: 130px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                }


                &----informations {
                    display: none;
                    position: absolute;
                    top: 90px;
                    background-color: rgba(0, 0, 0, 0.5);
                    padding: 10px;

                    &-----info-ouvert {
                        display: block;
                        height: 100px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                }

                &----links {
                    font-family: 'Bebas Neue';
                    color: $colorWhite;
                    font-size: 28px;
                    text-decoration: none;
                    display: inline-block;
                    text-decoration: none;

                    &-----turquoise {
                        color: $colorFinalTurquoise;
                    }
                }

                // &----links::after {
                //     content: '';
                //     display: block;
                //     width: 0;
                //     height: 2px;
                //     background: $colorFinalTurquoise;
                //     transition: width 0.5s;
                // }

                // &----links:hover::after {
                //     width: 100%;
                // }

                &----links:hover {
                    color: $colorFinalTurquoise;
                }

                &----linksInfo {
                    font-family: 'Bebas Neue';
                    color: $colorWhite;
                    font-size: 20px;
                    text-decoration: none;
                    display: inline-block;
                    text-decoration: none;
                    margin: 2px 0;
                }

                &----linksInfo::after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    background: $colorFinalYellow;
                    transition: width 0.5s;
                }

                &----linksInfo:hover::after {
                    width: 100%;
                }

                &----linksInfo:hover {
                    color: $colorFinalYellow;
                }

                &----linksPart {
                    font-family: 'Bebas Neue';
                    color: $colorWhite;
                    font-size: 20px;
                    text-decoration: none;
                    display: inline-block;
                    text-decoration: none;
                    margin: 2px 0;
                }

                &----linksPart::after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    background: $colorFinalGreen;
                    transition: width 0.5s;
                }

                &----linksPart:hover::after {
                    width: 100%;
                }

                &----linksPart:hover {
                    color: $colorFinalGreen;
                }
            }
        }
    }

    &__enseigne {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--logo-site {
            // position: relative;
            left: -50px;
            width: 200px;
        }

        &--description {
            margin: 0 0 50px 0;
            text-align: center;
            font-size: 20px;
            color: $colorWhite;
            font-family: 'Bebas Neue';
        }
    }

    &__langues {
        display: flex;
        justify-content: space-between;
        width: 250px;
        margin: 20px 0;

        a {
            @include size(60px);
            @extend %transition;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: $colorWhite;
            font-weight: bold;
            border: 2px $colorWhite solid;
            padding: 10px;
            border-radius: 50%;

            &:hover {
                background-color: $colorWhite;
                color: $colorBlack;
            }
        }
    }

    &__compteur {
        display: flex;
        flex: 1;
        font-family: 'Bebas Neue';
        font-size: 30px;
        color: $colorWhite;

        &--content {
            display: flex;
            justify-content: center;
            flex: 1;
            width: 100%;
        }

        &--led {
            @include size(50px, 35px);
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: $colorTest;
            margin: 0 10px;
            border-radius: 15%;
        }
    }

    &__boutons-content {
        display: flex;
        justify-items: center;
        margin: 10px 0;

        &--ou {
            display: none;
            color: $colorWhite;
            font-size: 40px;
            text-align: center;
            font-family: 'Bebas Neue';
            font-size: 50px;
        }
    }
}

// @media (max-width: 700px) {
//     .header {
//         &__navigation {
//             &--deploiement {
//                 background-color: hsl(0, 0%, 30%);
//                 display: flex;
//                 height: 390px;

//                 &---menu {
//                     height: 390px;
//                     width: 50%;
//                     display: flex;
//                     flex-direction: column;
//                     align-items: center;
//                 }
//             }
//         }
//     }
// }

@media (min-width: 450px) {
    .header__enseigne--logo-site {
        width: 300px;
    }
}

@media (min-width: 500px) {

    .header {

        &__enseigne--logo-site {
            position: static;
            width: 300px;
        }

        &__boutons-content--ou {
            display: block;
        }
    }
}

@media (max-width: 1000px) {
    .header {
        &__navigation {
            &--deploiement {
                width: 100vw;
                height: 0;
                overflow: hidden;
                background-color: hsl(0, 0%, 30%);
                transition: all 0.7s;

                &---ouverture {
                    height: 450px;
                }

                &---menu {
                    height: 450px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;

                    &----informations {
                        width: 100%;
                        text-align: center;
                        display: none;
                        position: inherit;

                        &-----info-ouvert {
                            display: block;
                            height: 100px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    &----participer {
                        width: 100%;
                        text-align: center;
                        display: none;
                        position: inherit;

                        &-----participation-ouvert {
                            display: block;
                            height: 100px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    &----linksInfo {
                        font-family: 'Bebas Neue';
                        color: $colorWhite;
                        font-size: 18px;
                        text-decoration: none;
                        display: inline-block;
                        text-decoration: none;
                    }

                    &----linksPart {
                        font-family: 'Bebas Neue';
                        color: $colorWhite;
                        font-size: 18px;
                        text-decoration: none;
                        display: inline-block;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media (min-width: 1000px) {

    .header {
        height: 580px;
        background-position: center;

        &__navigation {

            &--burger,
            &--branche {
                display: none;
            }

            &--deploiement---menu----links {
                font-size: 20px;
            }
        }

        &__enseigne {

            &--logo-site {
                position: static;
                width: 500px;
            }

            &--description {
                position: relative;
                top: -10px;
                font-size: 30px;
            }
        }

        &__compteur {

            &--led {
                @include size(70px, 50px);
                display: flex;
                justify-content: center;
                align-items: center;
                // background-color: $colorTest;
                margin: 0 10px;
                border-radius: 15%;
            }
        }

        &__boutons-content {
            @include size(600px, 480px);

            &--ou {
                display: block;
            }
        }

    }
}

// Couleurs compteur

.days {
    background-color: $colorFinalGreen;
}

.months {
    background-color: $colorFinalTurquoise;
}

.hours {
    background-color: $colorFinalBlue;
}