.header {
    @extend %filtre;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 10px 0;
    width: 100%;
    height: 390px;
    background-image: url(/src/images/fond-header.png);
    background-position: right top;
    background-size: cover;

    &__navigation {
        position: absolute;
        top: 10px;
        right: 10px;

        &--burger {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0px;
            right: 0px;
            @include size(80px);
            background-color: $colorWhite;
            border-radius: 50%;

            &--triangle {
                position: absolute;
                bottom: -15px;
                left: -5px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 35px 35px 0 0;
                border-color: $colorWhite transparent transparent transparent;
                transform: rotate(25deg);
            }

            &--branche {
                @include size(45px, 5px);
                background-color: $colorBlack;
                margin: 5px 0;
                border-radius: 2px;
            }
        }
    }

    &__enseigne {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--logo-site {
            position: relative;
            left: -50px;
            width: 200px;
        }

        &--description {
            margin: 0 0 50px 0;
            text-align: center;
            font-size: 40px;
            color: $colorWhite;
            font-family: 'Bebas Neue';
        }
    }

    &__compteur {
        display: flex;
        flex: 1;

        &--content {
            display: flex;
            justify-content: center;
            flex: 1;
            width: 100%;
        }

        &--led {
            @include size(50px, 35px);
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: $colorTest;
            margin: 0 10px;
            border-radius: 15%;
        }
    }

    &__boutons-content {
        display: flex;
        justify-items: center;
        margin: 10px 0;

        &--ou {
            display: none;
            color: $colorWhite;
            font-size: 40px;
            text-align: center;
        }
    }
}

@media (min-width: 450px) {
    .header__enseigne--logo-site {
        width: 300px;
    }
}

@media (min-width: 500px) {

    .header {

        &__enseigne--logo-site {
            position: static;
            width: 300px;
        }

        &__boutons-content--ou {
            display: block;
        }
    }
}

@media (min-width: 1000px) {

    .header {
        height: 550px;
        background-position: center;

        &__enseigne {

            &--logo-site {
                position: static;
                width: 500px;
            }

            &--description {
                position: relative;
                top: -10px;
                font-size: 20px;
            }
        }

        &__compteur {

            &--led {
                @include size(70px, 50px);
                display: flex;
                justify-content: center;
                align-items: center;
                // background-color: $colorTest;
                margin: 0 10px;
                border-radius: 15%;
            }
        }

        &__boutons-content {
            @include size(600px, 480px);

            &--ou {
                display: block;
            }
        }

    }

}

// Test compteur (je sais pas où le placer mdrrr)

.days {
    background-color: $colorFinalGreen;
}

.months {
    background-color: $colorFinalTurquoise;
}

.hours {
    background-color: $colorFinalBlue;
}