.main {
    background-color: $colorWhite;

    &__summary {
        margin: 30px 50px 30px 50px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &--title {
            text-align: center;
            font-family: 'Meatloaf';
            font-size: 80px;
            color: $colorFinalBlue;
        }

        &--articles {
            text-align: center;
            font-family: 'Meatloaf';
            font-size: 80px;
            color: $colorFinalBlue;
            width: 100%;
        }
    }

    &__bloc {
        &--container-message {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: Arial, Helvetica, sans-serif;
        }

        &--icones {
            height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            &---picto {
                @include size(100px);
            }

            &---between {
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                text-align: center;
            }

            &---bulle {
                // @include size(149px, 190px);
                @include size(223px, 284px);
            }

            &---height-bulle {
                height: 300px;
            }
        }

        &--flex {
            display: flex;

            &---green-bar {
                @include size(333px, 15px);
                background-color: $colorFinalGreen;
            }

            &---yellow-bar {
                @include size(333px, 15px);
                background-color: $colorFinalYellow;
            }

            &---blue-bar {
                @include size(333px, 15px);
                background-color: $colorFinalBlue;
            }
        }

        &--articles {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: justify;
            max-width: 400px;

            &---picture {
                @include size(400px, 200px);
            }
        }
    }
}

@media(max-width: 600px) {
    .main {
        &__summary {
            margin: 0;
            display: block;
        }

        &__summary>p {
            padding: 15px 55px 0 10px;
        }

        &__bloc {
            &--carte {
                display: none;
            }

            &--icones {
                height: 200px;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;


                &---picto {
                    @include size(75px);
                }

                &---bulle {
                    display: none;
                }

                &---resp-marges {
                    margin: 15px;
                }
            }

            &--flex {
                display: flex;
    
                &---green-bar {
                    @include size(125px, 15px);
                    background-color: $colorFinalGreen;
                }
    
                &---yellow-bar {
                    @include size(125px, 15px);
                    background-color: $colorFinalYellow;
                }
    
                &---blue-bar {
                    @include size(125px, 15px);
                    background-color: $colorFinalBlue;
                }
            }
        }
    }

    .size-resp {
        font-size: 15px;
    }
}

@media (max-width:700px) {
    .main {
        &__bloc {
            &--icones {
                height: 200px;

                &---bulle {
                    display: none;
                }
            }
        }
    }
}

.icone-calendar {
    font-family: 'Bebas Neue';
    font-size: 30px;
    color: $colorFinalGreen;
}

.icone-panneau {
    font-family: 'Bebas Neue';
    font-size: 30px;
    color: $colorFinalYellow;
}

.icone-chaussure {
    font-family: 'Bebas Neue';
    font-size: 30px;
    color: $colorFinalBlue;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}