.bouton-green {
    @include size(230px, 70px);
    @extend %transition;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorFinalGreen;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: 'Bebas Neue';
    font-size: 20px;
    color: $colorWhite;

    &:hover {
        background-color: hsl(95, 55%, 38%);;
    }
}

.bouton-turquoise {
    @include size(230px, 70px);
    @extend %transition;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorFinalTurquoise;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: 'Bebas Neue';
    font-size: 20px;
    color: $colorWhite;

    &:hover {
        background-color: hsl(158, 73%, 33%);
    }
}

// boutons-accueil

.bouton-yellow {
    @include size(220px, 60px);
    @extend %transition;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorFinalYellow;
    text-decoration: none;
    border-radius: 10px;
    font-family: 'Bebas Neue';
    font-size: 24px;
    color: $colorWhite;

    &:hover {
        background-color: hsl(37, 100%, 59%);;
    }
}


.bouton-pointille-turquoise {
    @include size(220px, 60px);
    @extend %transition;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed $colorFinalTurquoise;
    text-decoration: none;
    border-radius: 10px;
    font-family: 'Bebas Neue';
    font-size: 20px;
    color: $colorFinalTurquoise;
    font-size: 28px;

    &:hover {
        background-color: $colorFinalTurquoise;
        color: $colorWhite;
        border: 0;
    }
}