// -- Couleurs
$colorWhite: rgb(245, 245, 245);
$colorBlack: rgb(22, 21, 21);

$colorTest: rgb(226, 129, 64);
$colorTestRed: rgb(219, 109, 109);
$colorTestGreen: rgb(60, 139, 60);
$colorTestBlue: rgb(52, 52, 139);