.bouton-green, .bouton-turquoise, .bouton-yellow, .bouton-pointille-turquoise, .header__langues a {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
p,
a {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #161515;
}

.titre-page {
  font-family: "Meatloaf";
  font-size: 120px;
  color: whitesmoke;
}

.titre-page-construction {
  font-family: "Meatloaf";
  font-size: 90px;
  color: whitesmoke;
}

h1,
h2,
h3,
p,
a,
li {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h1, h2, h3 {
  letter-spacing: 0.1em;
  font-family: 'Bebas Neue';
}

p {
  letter-spacing: 0.1em;
  font-size: 18px;
}

li {
  margin: 10px 0;
  font-size: 18px;
}

strong {
  color: #28c6d1;
}

@media (max-width: 1000px) {
  .titre-page {
    font-family: "Meatloaf";
    font-size: 60px;
    color: whitesmoke;
  }
  .titre-page-construction {
    font-family: "Meatloaf";
    font-size: 45px;
    color: whitesmoke;
  }
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, white)), url(/src/images/fond-page.png);
  background-image: linear-gradient(to bottom, transparent, white 90%), url(/src/images/fond-page.png);
  background-size: cover;
}

.wrapper {
  max-width: 1000px;
  min-width: 300px;
  background-color: whitesmoke;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col1 {
  width: 100%;
  margin: 10px;
  min-width: 250px;
}

.col2 {
  width: calc(100%/2);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
  min-width: 300px;
}

.col3 {
  width: calc(100%/3);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
  min-width: 250px;
}

.col4 {
  width: calc(100%/4);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5px;
  min-width: 200px;
}

.head-col3 {
  width: calc(100%/3);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
}

.head-col4 {
  width: calc(100%/4);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5px;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../src/fonts/BebasNeue-Regular.woff2") format("woff2"), url("../src/fonts/BebasNeue-Regular.woff") format("woff");
}

@font-face {
  font-family: "Meatloaf";
  src: url("../src/fonts/meatloafsketched.woff2") format("woff2"), url("../src/fonts/meatloafsketched.woff") format("woff");
}

.bouton-green {
  width: 230px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7ac943;
  text-decoration: none;
  border-radius: 10px;
  font-family: 'Bebas Neue';
  font-size: 20px;
  color: whitesmoke;
}

.bouton-green:hover {
  background-color: #58962c;
}

.bouton-turquoise {
  width: 230px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1ebf83;
  text-decoration: none;
  border-radius: 10px;
  font-family: 'Bebas Neue';
  font-size: 20px;
  color: whitesmoke;
}

.bouton-turquoise:hover {
  background-color: #179265;
}

.bouton-yellow {
  width: 220px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffc361;
  text-decoration: none;
  border-radius: 10px;
  font-family: 'Bebas Neue';
  font-size: 24px;
  color: whitesmoke;
}

.bouton-yellow:hover {
  background-color: #ffaf2e;
}

.bouton-pointille-turquoise {
  width: 220px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px dashed #1ebf83;
  text-decoration: none;
  border-radius: 10px;
  font-family: 'Bebas Neue';
  font-size: 20px;
  color: #1ebf83;
  font-size: 28px;
}

.bouton-pointille-turquoise:hover {
  background-color: #1ebf83;
  color: whitesmoke;
  border: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 10px 0 0 0;
  width: 100%;
  height: 450px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(/src/images/fond-header.png);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/src/images/fond-header.png);
  background-position: right top;
  background-size: cover;
}

.header__flex {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navigation {
  position: absolute;
  top: 0px;
  right: 0px;
}

.header__navigation--burger {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  background-color: whitesmoke;
  border-radius: 50%;
}

.header__navigation--burger--triangle {
  position: absolute;
  bottom: -15px;
  left: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 27px 35px 0 0;
  border-color: whitesmoke transparent transparent transparent;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.header__navigation--burger--branche {
  width: 30px;
  height: 5px;
  background-color: #1ebf83;
  margin: 5px 0;
  border-radius: 2px;
}

.header__navigation--deploiement {
  width: 1000px;
  background-color: rgba(0, 0, 0, 0.5);
}

.header__navigation--deploiement---menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 910px;
  height: 90px;
  font-family: 'Bebas Neue';
  color: whitesmoke;
  font-size: 20px;
}

.header__navigation--deploiement---menu----participer {
  display: none;
  position: absolute;
  top: 90px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.header__navigation--deploiement---menu----participer-----participation-ouvert {
  display: block;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__navigation--deploiement---menu----informations {
  display: none;
  position: absolute;
  top: 90px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.header__navigation--deploiement---menu----informations-----info-ouvert {
  display: block;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__navigation--deploiement---menu----links {
  font-family: 'Bebas Neue';
  color: whitesmoke;
  font-size: 28px;
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
}

.header__navigation--deploiement---menu----links-----turquoise {
  color: #1ebf83;
}

.header__navigation--deploiement---menu----links:hover {
  color: #1ebf83;
}

.header__navigation--deploiement---menu----linksInfo {
  font-family: 'Bebas Neue';
  color: whitesmoke;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
  margin: 2px 0;
}

.header__navigation--deploiement---menu----linksInfo::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ffc361;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.header__navigation--deploiement---menu----linksInfo:hover::after {
  width: 100%;
}

.header__navigation--deploiement---menu----linksInfo:hover {
  color: #ffc361;
}

.header__navigation--deploiement---menu----linksPart {
  font-family: 'Bebas Neue';
  color: whitesmoke;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
  margin: 2px 0;
}

.header__navigation--deploiement---menu----linksPart::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #7ac943;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.header__navigation--deploiement---menu----linksPart:hover::after {
  width: 100%;
}

.header__navigation--deploiement---menu----linksPart:hover {
  color: #7ac943;
}

.header__enseigne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__enseigne--logo-site {
  left: -50px;
  width: 200px;
}

.header__enseigne--description {
  margin: 0 0 50px 0;
  text-align: center;
  font-size: 20px;
  color: whitesmoke;
  font-family: 'Bebas Neue';
}

.header__langues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
  margin: 20px 0;
}

.header__langues a {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  border: 2px whitesmoke solid;
  padding: 10px;
  border-radius: 50%;
}

.header__langues a:hover {
  background-color: whitesmoke;
  color: #161515;
}

.header__compteur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: 'Bebas Neue';
  font-size: 30px;
  color: whitesmoke;
}

.header__compteur--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.header__compteur--led {
  width: 50px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
  border-radius: 15%;
}

.header__boutons-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  margin: 10px 0;
}

.header__boutons-content--ou {
  display: none;
  color: whitesmoke;
  font-size: 40px;
  text-align: center;
  font-family: 'Bebas Neue';
  font-size: 50px;
}

@media (min-width: 450px) {
  .header__enseigne--logo-site {
    width: 300px;
  }
}

@media (min-width: 500px) {
  .header__enseigne--logo-site {
    position: static;
    width: 300px;
  }
  .header__boutons-content--ou {
    display: block;
  }
}

@media (max-width: 1000px) {
  .header__navigation--deploiement {
    width: 100vw;
    height: 0;
    overflow: hidden;
    background-color: #4d4d4d;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  .header__navigation--deploiement---ouverture {
    height: 450px;
  }
  .header__navigation--deploiement---menu {
    height: 450px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__navigation--deploiement---menu----informations {
    width: 100%;
    text-align: center;
    display: none;
    position: inherit;
  }
  .header__navigation--deploiement---menu----informations-----info-ouvert {
    display: block;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__navigation--deploiement---menu----participer {
    width: 100%;
    text-align: center;
    display: none;
    position: inherit;
  }
  .header__navigation--deploiement---menu----participer-----participation-ouvert {
    display: block;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__navigation--deploiement---menu----linksInfo {
    font-family: 'Bebas Neue';
    color: whitesmoke;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
  }
  .header__navigation--deploiement---menu----linksPart {
    font-family: 'Bebas Neue';
    color: whitesmoke;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
  }
}

@media (min-width: 1000px) {
  .header {
    height: 580px;
    background-position: center;
  }
  .header__navigation--burger, .header__navigation--branche {
    display: none;
  }
  .header__navigation--deploiement---menu----links {
    font-size: 20px;
  }
  .header__enseigne--logo-site {
    position: static;
    width: 500px;
  }
  .header__enseigne--description {
    position: relative;
    top: -10px;
    font-size: 30px;
  }
  .header__compteur--led {
    width: 70px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 10px;
    border-radius: 15%;
  }
  .header__boutons-content {
    width: 600px;
    height: 480px;
  }
  .header__boutons-content--ou {
    display: block;
  }
}

.days {
  background-color: #7ac943;
}

.months {
  background-color: #1ebf83;
}

.hours {
  background-color: #28c6d1;
}

.footer {
  background-color: #4d4d4d;
}

.link-bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 40;
      -ms-flex-positive: 40;
          flex-grow: 40;
}

.link-bloc--link {
  font-size: 23px;
  color: #e6e6e6;
  text-decoration: none;
  margin: 2px 0;
}

.link-bloc--mention-legales {
  font-size: 29px;
  text-decoration: none;
  color: #1ebf83;
  margin: 20px 0 5px 0;
}

.partenaire-bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 20;
      -ms-flex-positive: 20;
          flex-grow: 20;
}

.partenaire-bloc--image {
  width: 110px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.623);
  margin: 20px;
}

.partage-bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partage-bloc--image {
  width: 60px;
  margin: 10px 10px;
}

@media (max-width: 900px) {
  .partenaire-bloc {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .partage-bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .partage-bloc--image {
    margin: 0 20px;
  }
}

@media (max-width: 540px) {
  .partenaire-bloc {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main {
  padding: 30px 0;
  background-color: whitesmoke;
}

.main__summary {
  margin: 30px 50px 30px 50px;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__summary--title {
  text-align: center;
  font-family: 'Meatloaf';
  font-size: 80px;
  color: #28c6d1;
}

.main__summary--articles {
  text-align: center;
  font-family: 'Meatloaf';
  font-size: 80px;
  color: #28c6d1;
  width: 100%;
}

.main__bloc--container-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.main__bloc--icones {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__bloc--icones---picto {
  width: 100px;
  height: 100px;
}

.main__bloc--icones---between {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main__bloc--icones---bulle {
  width: 223px;
  height: 284px;
}

.main__bloc--icones---height-bulle {
  height: 300px;
}

.main__bloc--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__bloc--flex---green-bar {
  width: 333px;
  height: 15px;
  background-color: #7ac943;
}

.main__bloc--flex---yellow-bar {
  width: 333px;
  height: 15px;
  background-color: #ffc361;
}

.main__bloc--flex---blue-bar {
  width: 333px;
  height: 15px;
  background-color: #28c6d1;
}

.main__bloc--articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  max-width: 400px;
}

.main__bloc--articles---picture {
  width: 400px;
  height: 200px;
}

@media (max-width: 1000px) {
  .main {
    background-color: whitesmoke;
  }
  .main__summary {
    text-align: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__summary--title {
    text-align: center;
    font-family: 'Meatloaf';
    font-size: 60px;
    color: #28c6d1;
  }
  .main__summary--articles {
    text-align: center;
    font-family: 'Meatloaf';
    font-size: 60px;
    color: #28c6d1;
    width: 100%;
  }
  .padding {
    padding: 15px;
  }
}

@media (max-width: 600px) {
  .main__summary {
    margin: 0;
    display: block;
  }
  .main__summary > p {
    padding: 15px 15px 0 10px;
  }
  .main__bloc--carte {
    display: none;
  }
  .main__bloc--icones {
    height: 200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__bloc--icones---picto {
    width: 75px;
    height: 75px;
  }
  .main__bloc--icones---bulle {
    display: none;
  }
  .main__bloc--icones---resp-marges {
    margin: 15px;
  }
  .main__bloc--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main__bloc--flex---green-bar {
    width: 125px;
    height: 15px;
    background-color: #7ac943;
  }
  .main__bloc--flex---yellow-bar {
    width: 125px;
    height: 15px;
    background-color: #ffc361;
  }
  .main__bloc--flex---blue-bar {
    width: 125px;
    height: 15px;
    background-color: #28c6d1;
  }
  .size-resp {
    font-size: 15px;
  }
}

@media (max-width: 700px) {
  .main__bloc--icones {
    height: 200px;
  }
  .main__bloc--icones---bulle {
    display: none;
  }
}

.icone-calendar {
  font-family: 'Bebas Neue';
  font-size: 30px;
  color: #7ac943;
}

.icone-panneau {
  font-family: 'Bebas Neue';
  font-size: 30px;
  color: #ffc361;
}

.icone-chaussure {
  font-family: 'Bebas Neue';
  font-size: 30px;
  color: #28c6d1;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.raccourcis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
}

.raccourcis--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  width: calc(100%/3);
  height: 90px;
  font-size: 65px;
  color: whitesmoke;
  font-family: 'Meatloaf';
}

.raccourcis--item---blue {
  background-color: #28c6d1;
}

.raccourcis--item---green {
  background-color: #7ac943;
}

.raccourcis--item---yellow {
  background-color: #ffc361;
}

@media (max-width: 700px) {
  .raccourcis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 210px;
  }
  .raccourcis--item {
    width: 100%;
  }
}

.coordonnes-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.coordonnes-content article {
  margin: 30px 0;
  border-radius: 5px;
}

.form-content {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.form-content article {
  margin: 30px 0;
  border-radius: 5px;
}

.coordonnes-box {
  width: 310px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #28c6d1;
}

.coordonnes-box--ligne {
  margin-left: 15px;
}

.coordonnes-box--ligne p {
  font-size: 24px;
}

.coordonnes-box--titre {
  color: #187980;
  font-family: 'Bebas Neue';
}

.coordonnes-box--texte {
  color: whitesmoke;
}

.formulaire-box {
  width: 550px;
  height: auto;
  background-color: #7ac943;
}

.formulaire-box--traille {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: #7ac943;
  border-radius: 5px;
}

.formulaire-box--traille p {
  margin: 5px 15px;
  font-size: 18px;
  color: whitesmoke;
}

.formulaire-box--traille h3 {
  margin: 5px 15px;
  font-size: 24px;
  color: whitesmoke;
}

.formulaire-box--form {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 26px;
  color: whitesmoke;
  background-color: #e6e6e6;
}

.formulaire-box--form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.formulaire-box--form--ligne {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 20px 0;
}

.formulaire-box--form--ligne input,
.formulaire-box--form--ligne label,
.formulaire-box--form--ligne textarea {
  width: 50%;
  border: 0;
  background-color: transparent;
  font-family: "Bebas Neue";
}

.formulaire-box--form--ligne input,
.formulaire-box--form--ligne textarea {
  width: 300px;
  position: relative;
  top: -5px;
  padding: 5px;
  font-size: 22px;
  letter-spacing: 0.15em;
  font-family: "Arial";
}

.formulaire-box--form--ligne textarea {
  height: 200px;
  background-color: #b2b2b2;
  border-radius: 5px;
  resize: none;
}

.formulaire-box--form--ligne input {
  border-bottom: 1px #b2b2b2 solid;
}

.formulaire-box--form--ligne label {
  width: 160px;
  color: #7ac943;
}

.formulaire-box--form input[type="submit"] {
  display: inline-block;
  background-color: #7ac943;
  border: 0;
  padding: 5px 30px;
  font-size: 19px;
  color: whitesmoke;
  border-radius: 5px;
  margin: 10px 0;
  letter-spacing: 0.2em;
  font-family: "Bebas Neue";
}

.content-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 60px;
}

.article-main {
  width: 100%;
  height: 490px;
  background-color: #ffc361;
}

.article-main--image-conteneur {
  width: 100%;
  height: 310px;
}

.article-main--texte-conteneur {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.article-main--texte-conteneur--titre {
  color: whitesmoke;
  margin: 5px 0;
  font-size: 25px;
}

.article-main--texte-conteneur--texte {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 19px;
}

.article-second {
  width: 100%;
  height: 430px;
  background-color: #28c6d1;
}

.article-second:nth-child(even) {
  background-color: #1ebf83;
}

.article-second--image-conteneur {
  width: 100%;
  height: 200px;
}

.article-second--texte-conteneur {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.article-second--texte-conteneur--titre {
  color: whitesmoke;
  margin: 5px 0;
  font-size: 21px;
}

.article-second--texte-conteneur--texte {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.article-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article-box--image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-second--lire-suite {
  display: inline-block;
  margin: 15px;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #161515;
  font-size: 18px;
  text-decoration: none;
  background-color: whitesmoke;
  border-radius: 5px;
}

.article-second--lire-suite:hover {
  background-color: #b3b3b3;
}

.actualite-texte-introduction {
  margin: 35px 0;
  text-align: center;
  width: 80%;
}

.texte-content-parcours {
  margin: 0 0 60px 0;
}

.col-texte-parcours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-texte-parcours h2 {
  text-align: center;
  margin: 10px;
}

.col-texte-parcours p {
  margin: 10px 0 20px 0;
}

.carte-box {
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding: 40px 0;
}

.carte-box__fil {
  width: 5px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #161515;
}

.carte-box--repere {
  width: 50px;
  height: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: orange;
  border-radius: 50%;
}

.carte-box--repere--pointe {
  position: relative;
  top: 32px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 24px 0 24px;
  border-color: orange transparent transparent transparent;
}

.carte-box--repere:first-child {
  position: relative;
  top: -2px;
  background-color: #7ac943;
}

.carte-box--repere:last-child {
  position: relative;
  bottom: -2px;
  background-color: #7ac943;
}

.carte-box__texte-content {
  width: 220px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  right: -250px;
}

.carte-box--nom-etape {
  font-family: 'Bebas Neue';
  font-size: 20px;
}

.carte-box--ville-etape {
  font-family: 'Bebas Neue';
  font-size: 40px;
}

.info-box {
  width: 100%;
  height: 890px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  border: 2px dashed #1ebf83;
  padding: 10px;
}

.info-box--aide {
  text-align: center;
  font-size: 22px;
}

.info-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d4d4d4;
  padding: 25px 15px;
}

.info-content h3 {
  color: #1ebf83;
  font-size: 28px;
}

.info-content img {
  width: 100%;
  margin: 10px;
}

.info-content--nom-ville {
  font-family: 'Bebas Neue';
  font-size: 32px;
}

.info-content--kilometre {
  font-family: 'Bebas Neue';
  font-size: 29px;
  color: #1ebf83;
}

.info-content--texte {
  margin: 20px 0;
  text-align: center;
}

.display-none {
  display: none;
}

.content-benevolat {
  margin: 0 60px;
}

.main__bloc--article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__bloc--article---image {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__bloc--article---titre {
  margin: 15px 0;
  font-size: 30px;
}

.main__bloc--article---texte {
  width: 75%;
  margin: 10px 0;
  text-align: justify;
}

.main__bloc--article---texte:first-child::first-letter {
  font-size: 30px;
  color: #1ebf83;
}

.main__bloc--article---texte-lien {
  text-align: center;
  font-family: 'Bebas Neue';
  font-size: 30px;
  color: #7ac943;
}

.main__bloc--article---texte-lien----image {
  width: 100%;
  height: 320px;
}

.main__bloc--article---bouton {
  margin: 30px 0;
}

.text-content-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.commentaire-box {
  width: 95%;
  height: auto;
  background-color: #7ac943;
}

.commentaire-box--traille {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: #7ac943;
  border-radius: 5px;
}

.commentaire-box--traille p {
  margin: 5px 15px;
  font-size: 18px;
  color: whitesmoke;
}

.commentaire-box--traille h3 {
  margin: 5px 15px;
  font-size: 24px;
  color: whitesmoke;
}

.commentaire-box--form {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 26px;
  color: whitesmoke;
  background-color: #e6e6e6;
}

.commentaire-box--form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.commentaire-box--form--ligne {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 20px 0;
}

.commentaire-box--form--ligne input,
.commentaire-box--form--ligne label,
.commentaire-box--form--ligne textarea {
  width: 50%;
  border: 0;
  background-color: transparent;
  font-family: "Bebas Neue";
}

.commentaire-box--form--ligne input,
.commentaire-box--form--ligne textarea {
  width: 300px;
  position: relative;
  top: -5px;
  padding: 5px;
  font-size: 32px;
  letter-spacing: 0.15em;
  font-family: "Meatloaf";
}

.commentaire-box--form--ligne textarea {
  height: 200px;
  background-color: #b2b2b2;
  border-radius: 5px;
}

.commentaire-box--form--ligne input {
  border-bottom: 1px #b2b2b2 solid;
}

.commentaire-box--form--ligne label {
  width: 160px;
  color: #7ac943;
}

.commentaire-box--form input[type="submit"] {
  display: inline-block;
  background-color: #7ac943;
  border: 0;
  padding: 5px 30px;
  font-size: 19px;
  color: whitesmoke;
  border-radius: 5px;
  margin: 10px 0;
  letter-spacing: 0.2em;
  font-family: "Bebas Neue";
}

.zone-commentaire__box {
  position: relative;
  width: 700px;
  height: 250px;
  background-color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.zone-commentaire__box--triangle {
  position: absolute;
  bottom: -30px;
  left: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 0 50px;
  border-color: transparent transparent transparent #e6e6e6;
  -webkit-transform: rotate(115deg);
          transform: rotate(115deg);
}

.zone-commentaire__box--user > h1 {
  font-size: 25px;
}

.zone-commentaire__box--texte > p {
  text-align: center;
}

.zone-commentaire__box--date {
  position: absolute;
  bottom: 0;
  right: 0;
}

.content-inscription {
  margin: 0 60px;
}

.text-content-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inscription-box {
  width: 95%;
  height: auto;
  background-color: #7ac943;
}

.inscription-box--traille {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: #7ac943;
  border-radius: 5px;
}

.inscription-box--traille p {
  margin: 5px 15px;
  font-size: 18px;
  color: whitesmoke;
}

.inscription-box--traille h3 {
  margin: 5px 15px;
  font-size: 24px;
  color: whitesmoke;
}

.inscription-box--form {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 26px;
  color: whitesmoke;
  background-color: #e6e6e6;
}

.inscription-box--form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.inscription-box--form--ligne {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 20px 0;
}

.inscription-box--form--ligne input,
.inscription-box--form--ligne label,
.inscription-box--form--ligne textarea {
  width: 50%;
  border: 0;
  background-color: transparent;
  font-family: "Bebas Neue";
}

.inscription-box--form--ligne input,
.inscription-box--form--ligne textarea {
  width: 300px;
  position: relative;
  top: -5px;
  padding: 5px;
  font-size: 32px;
  letter-spacing: 0.15em;
  font-family: "Meatloaf";
}

.inscription-box--form--ligne textarea {
  height: 200px;
  background-color: #b2b2b2;
  border-radius: 5px;
}

.inscription-box--form--ligne input {
  border-bottom: 1px #b2b2b2 solid;
}

.inscription-box--form--ligne label {
  width: 160px;
  color: #7ac943;
}

.inscription-box--form--ligne--select option {
  width: 500px;
  height: auto;
}

.inscription-box--form input[type="submit"] {
  display: inline-block;
  background-color: #7ac943;
  border: 0;
  padding: 5px 30px;
  font-size: 19px;
  color: whitesmoke;
  border-radius: 5px;
  margin: 10px 0;
  letter-spacing: 0.2em;
  font-family: "Bebas Neue";
}

.zone-commentaire__box {
  position: relative;
  width: 700px;
  height: 250px;
  background-color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.zone-commentaire__box--triangle {
  position: absolute;
  bottom: -30px;
  left: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 0 50px;
  border-color: transparent transparent transparent #e6e6e6;
  -webkit-transform: rotate(115deg);
          transform: rotate(115deg);
}

.zone-commentaire__box--user > h1 {
  font-size: 25px;
}

.zone-commentaire__box--texte > p {
  text-align: center;
}

.zone-commentaire__box--date {
  position: absolute;
  bottom: 0;
  right: 0;
}

.page-construction-texte {
  margin: 20px 0;
}

.col-texte-preparation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col-texte-preparation h2 {
  margin: 0 0 20px 0;
}

.col-texte-preparation p {
  margin: 10px 0;
}

.col-texte-preparation--titre-turquoise {
  color: #1ebf83;
  border-bottom: #1ebf83 3px solid;
}

.col-texte-preparation--titre-bleu {
  color: #28c6d1;
  border-bottom: #28c6d1 3px solid;
}

.col-texte-preparation--titre-vert {
  color: #7ac943;
  border-bottom: #7ac943 3px solid;
}

.bulle-preparation {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #161515;
  border-radius: 50%;
  color: whitesmoke;
  font-family: 'Bebas Neue';
  font-size: 30px;
}

.illustration-securite {
  border: 4px #1ebf83 solid;
  border-radius: 10px;
}
/*# sourceMappingURL=main.css.map */