.header {
  -webkit-filter: grayscale(30%);
          filter: grayscale(30%);
}

body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
p,
a {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #161515;
}

.titre-page {
  font-size: 36px;
  color: whitesmoke;
}

h1,
h2,
h3,
p,
a {
  font-family: "Bebas Neue";
}

h3 {
  letter-spacing: 0.1em;
}

p {
  letter-spacing: 0.1em;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, white)), url(/src/images/fond-page.png);
  background-image: linear-gradient(to bottom, transparent, white 90%), url(/src/images/fond-page.png);
  background-size: cover;
}

.wrapper {
  max-width: 1000px;
  min-width: 300px;
  background-color: whitesmoke;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col1 {
  width: 100%;
  margin: 10px;
  min-width: 250px;
}

.col2 {
  width: calc(100%/2);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
  min-width: 300px;
}

.col3 {
  width: calc(100%/3);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
  min-width: 250px;
}

.col4 {
  width: calc(100%/4);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5px;
  min-width: 200px;
}

.head-col3 {
  width: calc(100%/3);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
}

.head-col4 {
  width: calc(100%/4);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5px;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../src/fonts/BebasNeue-Regular.woff2") format("woff2"), url("../src/fonts/BebasNeue-Regular.woff") format("woff");
}

@font-face {
  font-family: "Meatloaf";
  src: url("../src/fonts/meatloafsketched.woff2") format("woff2"), url("../src/fonts/meatloafsketched.woff") format("woff");
}

.bouton-green {
  width: 230px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7ac943;
  text-decoration: none;
  border-radius: 10px;
  font-family: 'Bebas Neue';
  font-size: 20px;
  color: whitesmoke;
}

.bouton-turquoise {
  width: 230px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1ebf83;
  text-decoration: none;
  border-radius: 10px;
  font-family: 'Bebas Neue';
  font-size: 20px;
  color: whitesmoke;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 10px 0;
  width: 100%;
  height: 390px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(/src/images/fond-header.png);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/src/images/fond-header.png);
  background-position: right top;
  background-size: cover;
}

.header__navigation {
  position: absolute;
  top: 10px;
  right: 10px;
}

.header__navigation--burger {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  right: 0px;
  width: 80px;
  height: 80px;
  background-color: whitesmoke;
  border-radius: 50%;
}

.header__navigation--burger--triangle {
  position: absolute;
  bottom: -15px;
  left: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 35px 35px 0 0;
  border-color: whitesmoke transparent transparent transparent;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.header__navigation--burger--branche {
  width: 45px;
  height: 5px;
  background-color: #161515;
  margin: 5px 0;
  border-radius: 2px;
}

.header__enseigne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__enseigne--logo-site {
  position: relative;
  left: -50px;
  width: 200px;
}

.header__enseigne--description {
  margin: 0 0 50px 0;
  text-align: center;
  font-size: 20px;
  color: whitesmoke;
  font-family: 'Bebas Neue';
}

.header__compteur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: 'Bebas Neue';
  font-size: 30px;
  color: whitesmoke;
}

.header__compteur--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.header__compteur--led {
  width: 50px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
  border-radius: 15%;
}

.header__boutons-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  margin: 10px 0;
}

.header__boutons-content--ou {
  display: none;
  color: whitesmoke;
  font-size: 40px;
  text-align: center;
  font-family: 'Bebas Neue';
  font-size: 50px;
}

@media (min-width: 450px) {
  .header__enseigne--logo-site {
    width: 300px;
  }
}

@media (min-width: 500px) {
  .header__enseigne--logo-site {
    position: static;
    width: 300px;
  }
  .header__boutons-content--ou {
    display: block;
  }
}

@media (min-width: 1000px) {
  .header {
    height: 550px;
    background-position: center;
  }
  .header__enseigne--logo-site {
    position: static;
    width: 500px;
  }
  .header__enseigne--description {
    position: relative;
    top: -10px;
    font-size: 30px;
  }
  .header__compteur--led {
    width: 70px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 10px;
    border-radius: 15%;
  }
  .header__boutons-content {
    width: 600px;
    height: 480px;
  }
  .header__boutons-content--ou {
    display: block;
  }
}

.days {
  background-color: #7ac943;
}

.months {
  background-color: #1ebf83;
}

.hours {
  background-color: #28c6d1;
}

.footer {
  background-color: #161515;
}

.footer__bloc {
  background-color: #34348b;
  height: 200px;
}

.main {
  padding: 40px 0;
  background-color: whitesmoke;
}

.main__summary {
  margin: 30px 50px 30px 50px;
  text-align: justify;
}

.main__summary--title {
  text-align: center;
  font-family: 'Meatloaf';
  font-size: 80px;
  color: #28c6d1;
}

.raccourcis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
}

.raccourcis--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  width: calc(100%/3);
  height: 90px;
  font-size: 65px;
  color: whitesmoke;
  font-family: 'Meatloaf';
}

.raccourcis--item---blue {
  background-color: #28c6d1;
}

.raccourcis--item---green {
  background-color: #7ac943;
}

.raccourcis--item---yellow {
  background-color: #ffc361;
}

.coordonnes-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.coordonnes-content article {
  margin: 30px 0;
  border-radius: 5px;
}

.form-content {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.form-content article {
  margin: 30px 0;
  border-radius: 5px;
}

.coordonnes-box {
  width: 280px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #28c6d1;
}

.coordonnes-box--ligne {
  margin-left: 15px;
}

.coordonnes-box--ligne p {
  font-size: 26px;
}

.coordonnes-box--titre {
  color: #187980;
}

.coordonnes-box--texte {
  color: whitesmoke;
}

.formulaire-box {
  width: 550px;
  height: auto;
  background-color: #7ac943;
}

.formulaire-box--traille {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: #7ac943;
  border-radius: 5px;
}

.formulaire-box--traille p {
  margin: 5px 15px;
  font-size: 18px;
  color: whitesmoke;
}

.formulaire-box--traille h3 {
  margin: 5px 15px;
  font-size: 24px;
  color: whitesmoke;
}

.formulaire-box--form {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 26px;
  color: whitesmoke;
  background-color: #e6e6e6;
}

.formulaire-box--form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.formulaire-box--form--ligne {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 20px 0;
}

.formulaire-box--form--ligne input,
.formulaire-box--form--ligne label,
.formulaire-box--form--ligne textarea {
  width: 50%;
  border: 0;
  background-color: transparent;
  font-family: "Bebas Neue";
}

.formulaire-box--form--ligne input,
.formulaire-box--form--ligne textarea {
  width: 300px;
  position: relative;
  top: -5px;
  padding: 5px;
  font-size: 32px;
  letter-spacing: 0.15em;
  font-family: "Meatloaf";
}

.formulaire-box--form--ligne textarea {
  height: 200px;
  background-color: #b2b2b2;
  border-radius: 5px;
}

.formulaire-box--form--ligne input {
  border-bottom: 1px #b2b2b2 solid;
}

.formulaire-box--form--ligne label {
  width: 160px;
  color: #7ac943;
}

.formulaire-box--form input[type="submit"] {
  display: inline-block;
  background-color: #7ac943;
  border: 0;
  padding: 5px 30px;
  font-size: 19px;
  color: whitesmoke;
  border-radius: 5px;
  margin: 10px 0;
  letter-spacing: 0.2em;
  font-family: "Bebas Neue";
}

.content-article {
  margin: 0 60px;
}

.article-main {
  width: 100%;
  height: 490px;
  background-color: #ffc361;
}

.article-main--image-conteneur {
  width: 100%;
  height: 310px;
}

.article-main--texte-conteneur {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.article-main--texte-conteneur--titre {
  color: whitesmoke;
  margin: 5px 0;
  font-size: 25px;
}

.article-main--texte-conteneur--texte {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 19px;
}

.article-second {
  width: 100%;
  height: 410px;
  background-color: #28c6d1;
}

.article-second:nth-child(even) {
  background-color: #1ebf83;
}

.article-second--image-conteneur {
  width: 100%;
  height: 200px;
}

.article-second--texte-conteneur {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.article-second--texte-conteneur--titre {
  color: whitesmoke;
  margin: 5px 0;
  font-size: 21px;
}

.article-second--texte-conteneur--texte {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.article-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article-box--image {
  height: 100%;
  width: 100%;
}

.article-second--lire-suite {
  display: inline-block;
  margin: 15px;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #161515;
  font-size: 18px;
  text-decoration: none;
  background-color: whitesmoke;
  border-radius: 5px;
}

.article-second--lire-suite:hover {
  background-color: #b3b3b3;
}
/*# sourceMappingURL=main.css.map */